<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="agile.css">
    <title>About</title>
</head>
<body>
    <header>
        <div class="inner">
        </div>
       </header>
       
       <div id="base" class="resume-wrap">
         <div>
        <button onclick="location.href = '/';" class="button" >Back Home</button>
        </div>
         <section>
           <div class="inner me">
             <div>
             <h1>UI/UX</h1>
               <br>
             <h2>Controls:</h2>  
               <br>
             <h3>No buttons on product!! Easy Control by voice commands</h3>  
               <br>
             <h3>Magic Mirror can seamlessly integrated in Mirror</h3>
               <br>
             <h3>Interact with users by both sound and lights</h3>
               <br>
             <h3>React fast to commands</h3>
               <br>
              <h3>...</h3>
               <br>
             <h2>User Interface:</h2>
               <br>
               <h3>Super simple User interface based on HTML with Minimunm elements</h3>
               <br>
               <h3>Users can use our product just like normal mirror</h3>  
               <br>
               <h3>HTML will start once the mirror is on</h3>  
               <br>
               <h3>Easy to modify todo_list</h3>
               <br>
               <h3>...</h3>
               <br>
               <br>
               <br>
               <h2>Below are Images of our product and HTML interface</h2>
               <img src="project.jpg" alt="Product" style="width:600px;height:400px;">
               <img src="Interface.png" alt="UI Design" style="width:600px;height:400px;">
</body>
</html>