<!DOCTYPE html>
 <head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="agile.css">
  <title>Zhenwei's Home</title>

 </head>
 <body>

  <header>
   <div class="inner">
    <ul>
     <li><a href="/welcome">welcome</a></li>
     <li><a href="/cv">CV</a></li>
     <li><a href="/avatar">avatar</a></li>
     <li><a href="/personal">personal</a></li>
      <li><a href = "/education">education</a></li>
      <li><a href="/project">project</a></li>
      <li><a href="/about">About</a></li>
    </ul>
   </div>
  </header>

  <div id="base" class="resume-wrap">

    <section>

      <div class="inner me">
        <div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        <h1>Zhenwei Liu</h1>
        <h2>An Engineer</h2>
        <h2>My Website</h2>
          <br>
          <br>
          <br>
          <br>
          <br>
        <h3> Click to Navigate To My Teammatess CV</h3>
          <br>
  </div>
        <div>
        <button onclick="location.href = 'http://143.198.98.101/cv';" id="myButton" class="button" ><span>Siyuan Zhang</span></button>
        </div>
        <button onclick="location.href = 'http://biandavid.com/cv';" id="myButton" class="button">JiaZheng Bian</button> 


       
      </div>
 </body>
</html>
